<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dokasfam Schema Services</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <div id="jinja-content" class="site">
            <h1>Dokasfam Schema Services</h1>
            <a href='/user/{{owner}}/'>signed in as {{owner}}</a>
            <hr />
            <br />

            <h2>{{name}}</h2>

            <br />

            <span>client id: {{clid}}</span>
            <span>client secret: {{clis}}</span>

        </div>
    </body>
</html>
