body {
    padding: .1em;
}

.row {
    display: flex;
}

.deletebtn {
    margin-left: 10px;
}

.panel {
    border: 1px solid black;
    border-radius: 5px;
    width: min-content;
    padding: 10px;
}